body {
  max-height: 100vh;
  overflow-y: hidden;
  background-color: #E1E1E3;
  margin: 0; }

section {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex; }

.scrolling-wrapper-flexbox {
  background-image: linear-gradient(to right, #E1E1E3, #d9d9e9);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
  min-height: 100vh;
  position: relative; }
  .scrolling-wrapper-flexbox #left {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: red;
    z-index: 30; }
  .scrolling-wrapper-flexbox #right {
    display: none;
    z-index: 30;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: green; }
  .scrolling-wrapper-flexbox section {
    flex: 0 0 auto; }
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none; }

.container {
  height: 100%; }

.me {
  position: absolute;
  overflow: hidden;
  background-color: white;
  margin: 4vh 24vw 1vh 2vw;
  padding: 4vh 10vw 80vh 60vw; }

#persistent-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: baseline;
  right: 2vw;
  top: 3.6rem;
  z-index: 5000; }

#persistent-buttons a {
  margin-right: 16px;
  font-size: 1.2rem;
  transform: translate(0, 40%);
  color: black;
  transition-property: color;
  transition-duration: 0.2s;
  position: relative; }

#persistent-buttons a:hover {
  color: #05ff56; }

#persistent-buttons a:active {
  color: #a09f9f; }

#persistent-buttons a p {
  position: absolute;
  top: 12px;
  left: 6px;
  background-color: #686868;
  padding: 4px 6px;
  font-size: 0.8rem;
  transition-property: opacity;
  transition-duration: 0.2s; }

#name {
  position: absolute;
  top: 6rem;
  left: 4rem;
  color: #134FE6;
  font-size: 2rem;
  font-family: 'Lora', serif, 'Texturina', serif;
  font-style: bold;
  line-height: 3.6vw; }

#ribbon {
  position: absolute;
  top: 4rem;
  left: 4rem;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 0.8125rem;
  display: inline;
  vertical-align: super;
  background-color: #EFFF00; }

#box {
  margin-right: -10px; }

#description {
  position: absolute;
  top: 10rem;
  left: 4.25rem;
  right: 18rem;
  font-family: "Source Sans Pro";
  font-size: 130%;
  word-wrap: break-word; }

#link {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  right: 5vw;
  top: 42vh;
  z-index: 5000;
  font-family: "Source Sans Pro";
  font-size: 40rem;
  max-width: 15vw; }

#link div {
  margin-right: 0.5vw;
  font-size: 2.2rem;
  text-decoration: none;
  transform: scale(100%);
  color: black;
  transition-property: color;
  transition-duration: 0.2s;
  position: relative; }

#link div:hover {
  color: #05ff56; }

#link div:active {
  color: #a09f9f; }

#gallery {
  padding: 5vh 5vw; }

#dirn {
  margin-top: -5vh; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center; }

.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 20vw; }

/*
.grid img:hover{
  transform: scale(2);
  position: absolute;
  transform: translateX(-50%);
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid black;
   
}
*/
